@font-face {
	font-family: "Proxima Nova";
	src: url("./proxima/Proxima-Nova-Regular.otf");
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url("./proxima/Proxima-Nova-Bold.otf");
	font-weight: bold;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


html {
	height: 100%;
}

body {
	min-height: 100%;
	background: #fff url("./background.jpg") right center repeat;
	background-size: cover;
	color: #333;
	font-family: "Proxima Nova", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 2rem;
	line-height: 1.2;
}

label {
	font-weight: bold;
	display: inline-block;
	margin-top: 1rem;
}

input[type="text"], input[type="email"], input[type="password"] {
	display: block;
	border: none;
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
	background: #ff5000;
	color: #fff;
	padding: 0.75rem 4rem;
	border: none;
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: bold;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button.neutral {
	background-color: #333;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 20px;
}

#logo {
	width: 150px;
}

#content {
	max-width: 800px;
	margin-top: 2rem;
}

#qr-form {
	position: absolute;
	top: -10000px;
}
#search-input {
	font-size: 3rem;
	padding: 1.5rem;
	text-align: center;
}

#user-list {
	font-size: 3rem;
	padding: 0;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

#user-list li {
	list-style: none;
	display: block;
	padding: 1rem 1rem;
	border-bottom: 1px solid #ddd;
}

#user-list li:hover {
	background: #eee;
	cursor: pointer;
}

#confirmation {
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	padding-top: 3rem;
	font-size: 3rem;
}

#confirmation p {
	line-height: 1;
}

#confirmation button {
	font-size: 2rem;
}
